[Desktop Entry]
Type=Service
Comment=MoveSplitView
Comment[ast]=MoveSplitView
Comment[bg]=MoveSplitView
Comment[ca]=MoveSplitView
Comment[ca@valencia]=MoveSplitView
Comment[cs]=MoveSplitView
Comment[da]=MoveSplitView
Comment[de]=MoveSplitView
Comment[en_GB]=MoveSplitView
Comment[es]=MoveSplitView
Comment[et]=MoveSplitView
Comment[fi]=MoveSplitView
Comment[fr]=MoveSplitView
Comment[ga]=MoveSplitView
Comment[gl]=MoveSplitView
Comment[it]=MoveSplitView
Comment[kk]=MoveSplitView
Comment[km]=MoveSplitView
Comment[lv]=MoveSplitView
Comment[nb]=MoveSplitView
Comment[nds]=MoveSplitView
Comment[nl]=MoveSplitView
Comment[nn]=MoveSplitView
Comment[pa]=MoveSplitView
Comment[pl]=MoveSplitView
Comment[pt]=MoveSplitView
Comment[pt_BR]=MoveSplitView
Comment[ru]=MoveSplitView
Comment[sr]=MoveSplitView
Comment[sr@ijekavian]=MoveSplitView
Comment[sr@ijekavianlatin]=MoveSplitView
Comment[sr@latin]=MoveSplitView
Comment[sv]=MoveSplitView
Comment[tr]=MoveSplitView
Comment[uk]=MoveSplitView
Comment[x-test]=xxMoveSplitViewxx
Comment[zh_CN]=MoveSplitView
Comment[zh_TW]=MoveSplitView
Name=MoveSplitView
Name[ast]=MoveSplitView
Name[bg]=MoveSplitView
Name[ca]=MoveSplitView
Name[ca@valencia]=MoveSplitView
Name[cs]=MoveSplitView
Name[da]=MoveSplitView
Name[de]=MoveSplitView
Name[el]=MoveSplitView
Name[en_GB]=MoveSplitView
Name[eo]=MoveSplitView
Name[es]=MoveSplitView
Name[et]=MoveSplitView
Name[fi]=MoveSplitView
Name[fr]=MoveSplitView
Name[ga]=MoveSplitView
Name[gl]=MoveSplitView
Name[hu]=MoveSplitView
Name[it]=MoveSplitView
Name[ja]=MoveSplitView
Name[kk]=MoveSplitView
Name[km]=MoveSplitView
Name[ko]=MoveSplitView
Name[lv]=MoveSplitView
Name[nb]=MoveSplitView
Name[nds]=MoveSplitView
Name[nl]=MoveSplitView
Name[nn]=MoveSplitView
Name[pa]=MoveSplitView
Name[pl]=MoveSplitView
Name[pt]=MoveSplitView
Name[pt_BR]=MoveSplitView
Name[ro]=MoveSplitView
Name[ru]=MoveSplitView
Name[sr]=MoveSplitView
Name[sr@ijekavian]=MoveSplitView
Name[sr@ijekavianlatin]=MoveSplitView
Name[sr@latin]=MoveSplitView
Name[sv]=MoveSplitView
Name[tr]=MoveSplitView
Name[uk]=MoveSplitView
Name[x-test]=xxMoveSplitViewxx
Name[zh_CN]=MoveSplitView
Name[zh_TW]=MoveSplitView
GenericName=MoveSplitView
GenericName[ast]=MoveSplitView
GenericName[bg]=MoveSplitView
GenericName[ca]=MoveSplitView
GenericName[ca@valencia]=MoveSplitView
GenericName[cs]=MoveSplitView
GenericName[da]=MoveSplitView
GenericName[de]=MoveSplitView
GenericName[el]=MoveSplitView
GenericName[en_GB]=MoveSplitView
GenericName[es]=MoveSplitView
GenericName[et]=MoveSplitView
GenericName[fi]=MoveSplitView
GenericName[fr]=MoveSplitView
GenericName[ga]=MoveSplitView
GenericName[gl]=MoveSplitView
GenericName[it]=MoveSplitView
GenericName[kk]=MoveSplitView
GenericName[km]=MoveSplitView
GenericName[lv]=MoveSplitView
GenericName[nb]=MoveSplitView
GenericName[nds]=MoveSplitView
GenericName[nl]=MoveSplitView
GenericName[nn]=MoveSplitView
GenericName[pa]=MoveSplitView
GenericName[pl]=MoveSplitView
GenericName[pt]=MoveSplitView
GenericName[pt_BR]=MoveSplitView
GenericName[ru]=MoveSplitView
GenericName[sr]=MoveSplitView
GenericName[sr@ijekavian]=MoveSplitView
GenericName[sr@ijekavianlatin]=MoveSplitView
GenericName[sr@latin]=MoveSplitView
GenericName[sv]=MoveSplitView
GenericName[tr]=MoveSplitView
GenericName[uk]=MoveSplitView
GenericName[x-test]=xxMoveSplitViewxx
GenericName[zh_CN]=MoveSplitView
GenericName[zh_TW]=MoveSplitView
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmovesplitview
X-KDE-PluginInfo-Name=kdevmovesplitview
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Version=16
X-KDE-PluginInfo-License=GPL
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
X-KDE-PluginInfo-Author=Jonathan Poelen
X-KDE-PluginInfo-Email=jonathan.poelen@gmail.com
