[Desktop Entry]
Type=Service
# Exec=blubb
Comment=Move and clean split view
Comment[fr]=Déplacer et nettoyer les vues scindées
Name=MoveSplitView
GenericName=MoveSplitView
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevmovesplitview
X-KDE-PluginInfo-Name=kdevmovesplitview
X-KDE-PluginInfo-Author=Jonathan Poelen
X-KDE-PluginInfo-Email=jonathan.poelen@gmail.com
X-KDE-PluginInfo-Version=0.7
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Version=17
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
