<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdevmovesplitview" version="8">
<MenuBar>
  <Menu name="window">
    <text context="@title:menu">Window</text>
<!--     <Menu name="view"> -->
<!--       <text context="@title:menu">Split View</text> -->
<!--       <separator /> -->
      <Action name="move_previous_split_view" />
      <Action name="move_next_split_view" />
      <Action name="copy_previous_split_view" />
      <Action name="copy_next_split_view" />
      <separator />
      <Action name="clean_split_view" />
      <Action name="clean_all_split_view" />
<!--     </Menu> -->
    <separator />
  </Menu>
</MenuBar>
</kpartgui>
