[Desktop Entry]
Type=Service
Comment=SwitchViewer
Comment[ast]=SwitchViewer
Comment[bg]=SwitchViewer
Comment[ca]=SwitchViewer
Comment[ca@valencia]=SwitchViewer
Comment[cs]=SwitchViewer
Comment[da]=SwitchViewer
Comment[de]=SwitchViewer
Comment[en_GB]=SwitchViewer
Comment[es]=SwitchViewer
Comment[et]=SwitchViewer
Comment[fi]=SwitchViewer
Comment[fr]=SwitchViewer
Comment[ga]=SwitchViewer
Comment[gl]=SwitchViewer
Comment[it]=SwitchViewer
Comment[kk]=SwitchViewer
Comment[km]=SwitchViewer
Comment[lv]=SwitchViewer
Comment[nb]=SwitchViewer
Comment[nds]=SwitchViewer
Comment[nl]=SwitchViewer
Comment[nn]=SwitchViewer
Comment[pa]=SwitchViewer
Comment[pl]=SwitchViewer
Comment[pt]=SwitchViewer
Comment[pt_BR]=SwitchViewer
Comment[ru]=SwitchViewer
Comment[sr]=SwitchViewer
Comment[sr@ijekavian]=SwitchViewer
Comment[sr@ijekavianlatin]=SwitchViewer
Comment[sr@latin]=SwitchViewer
Comment[sv]=SwitchViewer
Comment[tr]=SwitchViewer
Comment[uk]=SwitchViewer
Comment[x-test]=xxSwitchViewerxx
Comment[zh_CN]=SwitchViewer
Comment[zh_TW]=SwitchViewer
Name=SwitchViewer
Name[ast]=SwitchViewer
Name[bg]=SwitchViewer
Name[ca]=SwitchViewer
Name[ca@valencia]=SwitchViewer
Name[cs]=SwitchViewer
Name[da]=SwitchViewer
Name[de]=SwitchViewer
Name[el]=SwitchViewer
Name[en_GB]=SwitchViewer
Name[eo]=SwitchViewer
Name[es]=SwitchViewer
Name[et]=SwitchViewer
Name[fi]=SwitchViewer
Name[fr]=SwitchViewer
Name[ga]=SwitchViewer
Name[gl]=SwitchViewer
Name[hu]=SwitchViewer
Name[it]=SwitchViewer
Name[ja]=SwitchViewer
Name[kk]=SwitchViewer
Name[km]=SwitchViewer
Name[ko]=SwitchViewer
Name[lv]=SwitchViewer
Name[nb]=SwitchViewer
Name[nds]=SwitchViewer
Name[nl]=SwitchViewer
Name[nn]=SwitchViewer
Name[pa]=SwitchViewer
Name[pl]=SwitchViewer
Name[pt]=SwitchViewer
Name[pt_BR]=SwitchViewer
Name[ro]=SwitchViewer
Name[ru]=SwitchViewer
Name[sr]=SwitchViewer
Name[sr@ijekavian]=SwitchViewer
Name[sr@ijekavianlatin]=SwitchViewer
Name[sr@latin]=SwitchViewer
Name[sv]=SwitchViewer
Name[tr]=SwitchViewer
Name[uk]=SwitchViewer
Name[x-test]=xxSwitchViewerxx
Name[zh_CN]=SwitchViewer
Name[zh_TW]=SwitchViewer
GenericName=SwitchViewer
GenericName[ast]=SwitchViewer
GenericName[bg]=SwitchViewer
GenericName[ca]=SwitchViewer
GenericName[ca@valencia]=SwitchViewer
GenericName[cs]=SwitchViewer
GenericName[da]=SwitchViewer
GenericName[de]=SwitchViewer
GenericName[el]=SwitchViewer
GenericName[en_GB]=SwitchViewer
GenericName[es]=SwitchViewer
GenericName[et]=SwitchViewer
GenericName[fi]=SwitchViewer
GenericName[fr]=SwitchViewer
GenericName[ga]=SwitchViewer
GenericName[gl]=SwitchViewer
GenericName[it]=SwitchViewer
GenericName[kk]=SwitchViewer
GenericName[km]=SwitchViewer
GenericName[lv]=SwitchViewer
GenericName[nb]=SwitchViewer
GenericName[nds]=SwitchViewer
GenericName[nl]=SwitchViewer
GenericName[nn]=SwitchViewer
GenericName[pa]=SwitchViewer
GenericName[pl]=SwitchViewer
GenericName[pt]=SwitchViewer
GenericName[pt_BR]=SwitchViewer
GenericName[ru]=SwitchViewer
GenericName[sr]=SwitchViewer
GenericName[sr@ijekavian]=SwitchViewer
GenericName[sr@ijekavianlatin]=SwitchViewer
GenericName[sr@latin]=SwitchViewer
GenericName[sv]=SwitchViewer
GenericName[tr]=SwitchViewer
GenericName[uk]=SwitchViewer
GenericName[x-test]=xxSwitchViewerxx
GenericName[zh_CN]=SwitchViewer
GenericName[zh_TW]=SwitchViewer
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevswitchviewer
X-KDE-PluginInfo-Name=kdevswitchviewer
X-KDE-PluginInfo-Category=Utilities
X-KDevelop-Version=16
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
X-KDE-PluginInfo-Author=Jonathan Poelen
X-KDE-PluginInfo-Email=jonathan.poelen@gmail.com
